*{
    margin: 0px;
    padding: 0px;
}
#navbarSupportedContent{
    position: sticky;
    top: 0%;
    z-index: 10;
}
.navbar{
    background-color: rgb(195, 133, 226);
    color: white;
}
.nav-link{
    color: white;
}
.fa-bars{
    color: white;
    font-size: 30px;
}

/*--intro--*/

#intro{

    background-color: rgb(195, 133, 226);
    padding-top: 300px;
    padding: 50px;
    color: white;

}
.main-heading{
    font-weight: bold;
}
.img-fluid{
    width: fit-content;
   padding: 40px;
    
}

.video-link{
    color: white;
}

/* what we do */

#whatwedo{
    text-align: center;
    padding-top: 40px;
}
.whtwedo-hding{
    font-weight: bold;
}

/* cards */

.cards{
    width: 18rem;
    
}
.card-img{
    
    width: 18rem;
    height: 15rem;
}



/* buttons */
.btn{
    text-align: center;
    padding-bottom: 20px;
}
.btn:hover{
    background-color: rgb(195, 133, 226);
}
/* why choose us */


.whychoo-hding{
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}
.whydiff{
    padding-top: 30px;
}
.list-of-why{
    padding: 20px;
}

/* contact */
.contactus{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.items{
    text-align: center;
    padding-bottom: 20px;
}
