
.nav-link{
    font-weight: bold;
    color: black;
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid black;
    transition: .1s;
}

.row{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
    margin: 0%;
    padding: 0%;
    width: 100%;
}

span{
    font-weight: bold;
    color: rgb(97, 189, 219);
}
.navbar{
    position: sticky;
    top: 0%;
    z-index: 10;
}
.card-img{
    height: 200px;

    
}
.card-img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.inner{
    overflow: hidden;
}
.full-body{
    background-color: rgb(227, 242, 247);
}
.carousel-img-size{
    height: 70vh;
}
